---
import Layout from "../layouts/Layout.astro";
import CardContainer from "../components/CardContainer";
import Guff from "../assets/guff.png";

import "primereact/resources/themes/lara-light-indigo/theme.css";
import "primereact/resources/primereact.min.css";
import "primeicons/primeicons.css";
---

<Layout title="Fortnite Weapon Comparison">
  <main
    class="p-4 flex flex-col items-center justify-center max-w-screen max-h-screen overflow-hidden"
  >
    <h1 class="mb-8 text-2xl font-semibold text-center">
      Fortnite Weapon Comparison
    </h1>
    <CardContainer client:load />
    <img src={Guff} class="w-40 absolute bottom-0 right-0" />
  </main>
</Layout>
