<div
  class="fixed bottom-0 mt-8 h-8 bg-gray-700 font-semibold flex items-center justify-center w-screen"
>
  <a
    href="https://github.com/zeepk/FortniteGuns"
    class="mx-2 text-gray-200 hover:underline"
  >
    Github</a
  >
  <a
    href="https://twitter.com/matthughes2112"
    class="mx-2 text-cyan-300 hover:underline"
  >
    Twitter</a
  >
</div>
